

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="http://localhost:3000/auth/login">Login </a></li>
        </ul>
    </nav>


        <div class="search-container">
            <form>
                <input type="text" class="search-box" placeholder="Enter search term...">
                <button type="submit" class="search-button">Search</button>
            </form>
    
            <div class="results">
                <h2>Results</h2>
 
                <div class="result-item">
        

                </div>
            </div>
        </div>


    
</body>
</html>


