<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="http://localhost:3000/auth/login">Login</a></li>
            <li><a href="http://localhost:3000/auth/logout">Logout</a></li>
        </ul>
    </nav>
    <div>
        <h1>Login</h1>
        <a href="http://localhost:3000/auth/google">
            Login with Google
        </a>
    </div>
</body>
</html>
